@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital@1&family=Revalia&display=swap');


* {

box-sizing: border-box;
margin: 0;
padding: 0;
background-color: #24252A;

}


header{

display:flex;
justify-content: space-between;
align-items: center;
margin-top: 0.75rem;
padding: 2rem 10%;

}


li, a, button{

font-family: "Monsterrat" , sans-serif;
font-weight: 500;
font-size: 20px;
color: white;
text-decoration: none;

}

.logo{

 cursor: pointer;


}

.nav_links {

 list-style: none;

}

.nav_links li{

 display: inline-block;
 padding: 0 1.5rem;

}

.nav_links li a {

transition: all 0.3s ease 0s;

}
.nav_links li a:hover {

 color: #0088a9;

}

.cta{



}